body {
    background-color: #131313;
    background-image: url(../img/bg-img-body.png);
    background-repeat: no-repeat;
    background-position: 50% 0;   
    background-size: contain;  
    color: #fff;
    font-family: Montserrat;
    padding: 14px 5px 11px 10px;
    margin: 0;
    min-width: 600px;
}

header {
    border-bottom: 1px #272727 solid;
    max-width: 1157px;
    margin: 0 auto;
}

.bg-img {
    background-color: rgba(19,19,19,0.7);        
}

.f-content{
    max-width: 1157px;
    margin: 0 auto;    
}

header section, table{
    max-width: 0 auto;
    width: 100%;
    background-color: #131313
}

header section, ul.nav, .logo-card{
    display: flex;    
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    height: 45px;
}

.logo-card{
    justify-content: start;  
}

.logo {
    min-width: 78px;
    padding-right: 16px;
    border-right: 1px #272727 solid;
}

.namber-card{    
    min-width: 214px;
    font-size: 1rem;
    padding-left: 17px;
    text-transform: none;
}

div.logo img {width: 100%;}

ul.nav {list-style: none;}

ul.nav li {padding-right: 15px;}

ul.nav li:last-child {padding-right: 0;}

ul.nav li a:hover, ul.nav li a {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
}

ul.nav li a:hover, ul.nav li a:active, ul.nav li a:focus{
    color: #272727;
}
    
.f-content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.31rem;
    color: #fff;
    text-align: left;
    padding: 90px 0 30px;
}

.pagination-active {
    color: #4f4f4f;
}

.f-content table {    
    background: #131313;   
    margin: 0 auto;
    border-collapse: collapse;        
}
.f-content table tr {
    border: 1px #272727 solid;
}

.f-content table thead tr{
    border: none;    
}

.f-content table thead td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1;
    align-items: center;
    color: #727272;
    padding: 3px;
}

.f-content table td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    align-items: center;
    color: #FFFFFF;
    padding: 17px 3px;
}

.f-content table td:first-child {
    padding-left: 25px;
}